<h2>Comments</h2>
<%= turbo_stream_from :comments %>
<%# Expands to render partial: "comments/coment", collection: post.comments %>
<%= turbo_frame_tag :comments do %>
  <%= render post.comments %>
<% end %>
<%= render "comments/new", post: post %>
